<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylish.css">
</head>
<body>
    <nav>
        <img src="/img/logoAresta1.png" alt="">
        <hr>
        <h1>ADMIN PAGE</h1>
        <hr>
        <h1 class="tablinks" onclick="openCity(event, 'search')" id="defaultOpen">search</h1>
        <h1 class="tablinks" onclick="openCity(event, 'status0')">Status_0 (blm_aktif)</h1>
        <h1 class="tablinks" onclick="openCity(event, 'status1')">Status_1 (sdh_verifikasi)</h1>
        <h1 class="tablinks" onclick="openCity(event, 'status2')">Status_2 (cek_foto)</h1>
        <h1 class="tablinks" onclick="openCity(event, 'status3')">Status_3 (cek_bayar)</h1>
        <h1 class="tablinks" onclick="openCity(event, 'status4')">Status 4 (selesai)</h1>
        <h1 class="tablinks" onclick="openCity(event, 'sertifikat')">e-sertifikat</h1>
        <h1 class="tablinks" onclick="openCity(event, 'excel')">Excel Download</h1>
        <hr>
        <form action="/code/resta/panitia/logout" method="post">
            <button id="logout">Logout</button>
        </form>
    </nav>

    <div class="tabcontent search" id="search">
        <div class="form">
            <form action="/code/resta/panitia/users" method="post">
                <input type="search" name="search" id="" placeholder="Nama Lengkap">
                <button type="submit">search</button>
            </form>
        </div>

        <table>
            <tr>
                <th>#</th>
                <th>email</th>
                <th>nomor hp</th>
                <th>Nama Ketua</th>
                <th>Asal Sekolah</th>
                <th>Lomba</th>
                <th>Tingkat</th>
                <th>Status</th>
                <th>jumlah Anggota</th>
                <th>Registered</th>
                <th>verified</th>
                <th>image verified</th>
                <th>selesai daftar</th>
                <th>Cek</th>
            </tr>

            <% row.forEach((element,nomor) => { %>
                <tr>
                    <td><%- nomor + 1 %> </td>
                <td><%- element.email %> </td>
                <td><%- element.phone %> </td>    
                    <td><%- element.namaUtama %> </td>
                    <td><%- element.sekolah %> </td>
                    <td><%- element.lomba %> </td>
                    <td><%- element.tingkat %> </td>
                    <td><%- element.status %> </td>
                    <td><%- element.jumlahAnggota %> </td>
                    <td><%- element.registered %> </td>
                    <td><%- element.verified %> </td>
                    <td><%- element.imgVerified %> </td>
                    <td><%- element.endRegist %> </td>
                    <td><a href="/code/resta/panitia/users/views/<%= element.id %> ">detail</a></td>
                </tr>
            <% }) %>

        </table>
    </div>
    <div class="tabcontent status0" id="status0">
        <table>
            <tr>
                <th>#</th>
                <th>email</th>
                <th>nomor hp</th>
                <th>Nama Ketua</th>
                <th>Asal Sekolah</th>
                <th>Lomba</th>
                <th>Tingkat</th>
                <th>Status</th>
                <th>jumlah Anggota</th>
                <th>Registered</th>
                <th>verified</th>
                <th>image verified</th>
                <th>selesai daftar</th>
                <th>Cek</th>
            </tr>
            <% if (row0 != undefined) { %>
                <% row0.forEach((element,nomor) => { %>
                    <tr>
                        <td><%- nomor + 1 %> </td>
                        <td><%- element.email %> </td>
                        <td><%- element.phone %> </td>
                        <td><%- element.namaUtama %> </td>
                        <td><%- element.sekolah %> </td>
                        <td><%- element.lomba %> </td>
                        <td><%- element.tingkat %> </td>
                        <td><%- element.status %> </td>
                        <td><%- element.jumlahAnggota %> </td>
                        <td><%- element.registered %> </td>
                        <td><%- element.verified %> </td>
                        <td><%- element.imgVerified %> </td>
                        <td><%- element.endRegist %> </td>
                        <td><a href="/code/resta/panitia/users/views/<%= element.id %> ">detail</a></td>
                    </tr>
                <% }) %>
            <% } %>

        </table>
    </div>
    <div class="tabcontent status1" id="status1">

        <table>
            <tr>
                <th>#</th>
                <th>email</th>
                <th>nomor hp</th>
                <th>Nama Ketua</th>
                <th>Asal Sekolah</th>
                <th>Lomba</th>
                <th>Tingkat</th>
                <th>Status</th>
                <th>jumlah Anggota</th>
                <th>Registered</th>
                <th>verified</th>
                <th>image verified</th>
                <th>selesai daftar</th>
                <th>Cek</th>
            </tr>
            <% if (row1 != undefined) { %>
                <% row1.forEach((element,nomor) => { %>
                    <tr>
                        <td><%- nomor + 1 %> </td>
                        <td><%- element.email %> </td>
                        <td><%- element.phone %> </td>
                        <td><%- element.namaUtama %> </td>
                        <td><%- element.sekolah %> </td>
                        <td><%- element.lomba %> </td>
                        <td><%- element.tingkat %> </td>
                        <td><%- element.status %> </td>
                        <td><%- element.jumlahAnggota %> </td>
                        <td><%- element.registered %> </td>
                        <td><%- element.verified %> </td>
                        <td><%- element.imgVerified %> </td>
                        <td><%- element.endRegist %> </td>
                        <td><a href="/code/resta/panitia/users/views/<%= element.id %> ">detail</a></td>
                    </tr>
                <% }) %>
            <% } %>

        </table>
    </div>
    <div class="tabcontent status2" id="status2">

        <table>
            <tr>
                <th>#</th>
                <th>email</th>
                <th>nomor hp</th>
                <th>Nama Ketua</th>
                <th>Asal Sekolah</th>
                <th>Lomba</th>
                <th>Tingkat</th>
                <th>Status</th>
                <th>jumlah Anggota</th>
                <th>Registered</th>
                <th>verified</th>
                <th>image verified</th>
                <th>selesai daftar</th>
                <th>Cek</th>
            </tr>
            <% if (row2 != undefined) { %>
                <% row2.forEach((element,nomor) => { %>
                    <tr>
                        <td><%- nomor + 1 %> </td>
                        <td><%- element.email %> </td>
                        <td><%- element.phone %> </td>
                        <td><%- element.namaUtama %> </td>
                        <td><%- element.sekolah %> </td>
                        <td><%- element.lomba %> </td>
                        <td><%- element.tingkat %> </td>
                        <td><%- element.status %> </td>
                        <td><%- element.jumlahAnggota %> </td>
                        <td><%- element.registered %> </td>
                        <td><%- element.verified %> </td>
                        <td><%- element.imgVerified %> </td>
                        <td><%- element.endRegist %> </td>
                        <td><a href="/code/resta/panitia/users/views/<%= element.id %> ">detail</a></td>
                    </tr>
                <% }) %>
            <% } %>

        </table>
    </div>
    <div class="tabcontent status3" id="status3">                                                    

        <table>
            <tr>
                <th>#</th>
                <th>email</th>
                <th>nomor hp</th>
                <th>Nama Ketua</th>
                <th>Asal Sekolah</th>
                <th>Lomba</th>
                <th>Tingkat</th>
                <th>Status</th>
                <th>jumlah Anggota</th>
                <th>Registered</th>
                <th>verified</th>
                <th>image verified</th>
                <th>selesai daftar</th>
                <th>Cek</th>
            </tr>
            <% if (row3 != undefined) { %>
                <% row3.forEach((element,nomor) => { %>
                    <tr>
                        <td><%- nomor + 1 %> </td>
                        <td><%- element.email %> </td>
                        <td><%- element.phone %> </td>
                        <td><%- element.namaUtama %> </td>
                        <td><%- element.sekolah %> </td>
                        <td><%- element.lomba %> </td>
                        <td><%- element.tingkat %> </td>
                        <td><%- element.status %> </td>
                        <td><%- element.jumlahAnggota %> </td>
                        <td><%- element.registered %> </td>
                        <td><%- element.verified %> </td>
                        <td><%- element.imgVerified %> </td>
                        <td><%- element.endRegist %> </td>
                        <td><a href="/code/resta/panitia/users/views/<%= element.id %> ">detail</a></td>
                    </tr>
                <% }) %>
            <% } %>

        </table>
    </div>
    <div class="tabcontent status4" id="status4">  

        <table>
            <tr>
                <th>#</th>
                <th>email</th>
                <th>nomor hp</th>
                <th>Nama Ketua</th>
                <th>Asal Sekolah</th>
                <th>Lomba</th>
                <th>Tingkat</th>
                <th>Status</th>
                <th>jumlah Anggota</th>
                <th>Registered</th>
                <th>verified</th>
                <th>image verified</th>
                <th>selesai daftar</th>
                <th>Cek</th>
            </tr>
            <% if (row4 != undefined) { %>
                <% row4.forEach((element,nomor) => { %>
                    <tr>
                        <td><%- nomor + 1 %> </td>
                        <td><%- element.email %> </td>
                        <td><%- element.phone %> </td>
                        <td><%- element.namaUtama %> </td>
                        <td><%- element.sekolah %> </td>
                        <td><%- element.lomba %> </td>
                        <td><%- element.tingkat %> </td>
                        <td><%- element.status %> </td>
                        <td><%- element.jumlahAnggota %> </td>
                        <td><%- element.registered %> </td>
                        <td><%- element.verified %> </td>
                        <td><%- element.imgVerified %> </td>
                        <td><%- element.endRegist %> </td>
                        <td><a href="/code/resta/panitia/users/views/<%= element.id %> ">detail</a></td>
                    </tr>
                <% }) %>
            <% } %>

        </table>
    </div>
    <div class="tabcontent sertifikat" id="sertifikat">sertifikat</div>
    <div class="tabcontent excel" id="excel">excel</div>

</body>
<script src="/js/users.js"></script>
</html>