<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/usersPage/users.css">
    <link rel="stylesheet" href="/css/usersPage/tahap1.css">
    <link rel="stylesheet" href="/css/usersPage/tahap2.css">
    <link rel="stylesheet" href="/css/usersPage/tahap3.css">
    <link rel="stylesheet" href="/css/usersPage/status.css">
    <title>Users Page</title>
</head>
<body>
    <nav>
        <img src="/img/usersPage/logoAresta.png" alt="logo-aresta">
        <hr>
        <h4><%= user.namaUtama %></h4>
        <hr>
        <h2 id="daftar">Pendaftaran &#709</h2>
        <h2 class="tablinks" onclick="openCity(event, 'tahap1')">Tahap 1</h2>
        <h2 class="tablinks" onclick="openCity(event, 'tahap2')" id="defaultOpen">Tahap 2</h2>
        <h2 class="tablinks" onclick="openCity(event, 'tahap3')">Tahap 3</h2>
        <hr>
        <h2 class="tablinks" onclick="openCity(event, 'status')">Status Pendaftaran</h2>
        <h2 class="tablinks" onclick="openCity(event, 'juknis')">K U Lomba</h2>
        <h2 class="tablinks" onclick="openCity(event, 'sertifikat')">E-Certificate</h2>
        <hr>
        <form action="/logout" method="post">
            <button id="logout">Logout</button>
        </form>
    </nav>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <hr>
            <h1>data tidak dapat di ubah setelah di SUBMIT</h1>
            <hr>
            <label for="submit-tahap2" id="submit-modal">Submit</label>
            <button class="closeb" type="button">close</button>
        </div>
    </div>
    <div class="tahap1 tabcontent" id="tahap1">
        <div class="msg">
            <% if (user.status === 1 || user.status === 2) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 2 PENDAFTARAN</h1>
            <% } else if (user.status === 3) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 3 PENDAFTARAN</h1>
            <% } else if (user.status === 4) { %>
                    <h1 style="color: #0db02b;">Pendaftaran Selesai. Silahkan persiapkan diri untuk lomba</h1>
            <% } %>
            <% if (user.pesan != '') { %>
                <h2><%- user.pesan %> </h2>
            <% } %>
        </div>
        <div class="form">
            <h1>FORMULIR</h1>
            <div class="table">
                <table>
                    <tr>
                        <td id="1">Asal Sekolah</td>
                        <td>:</td>
                        <td id="3"><%= user.sekolah %></td>
                    </tr>
                    <tr>
                        <td id="1">Tingkat</td>
                        <td>:</td>
                        <td id="3"><%= user.tingkat %></td>
                    </tr>
                    <tr>
                        <td id="1">Lomba</td>
                        <td>:</td>
                        <td id="3"><%= user.lomba %></td>
                    </tr>
                    <tr>
                        <td id="1">Kategori</td>
                        <td>:</td>
                        <td id="3"><%= user.kategori %></td>
                    </tr>
                </table>
            </div>
            <div class="namaPeserta">
                <table>
                    
                    <tr>
                        <td id="1">Nama Ketua</td>
                        <td>:</td>
                        <td id="3"><%= user.namaUtama %></td>
                    </tr>
                    <% anggota.forEach(element => { %>
                        <% if (element != '') { %>
                            <tr>
                                <td id="1">Anggota</td>
                                <td>:</td>
                                <td id="3"><%= element %></td>
                            </tr>
                        <% } %>
                    <% }) %>
                </table>
            </div>
        </div>
        <div class="footer">
            <h1 style="color: #0db02b;">Tahap 1 Pendaftaran Telah Di Selesaikan</h1>
            <h1>Data Tidak bisa di Ubah lagi !</h1>
        </div>
    </div>
    <div class="tahap2 tabcontent" id="tahap2">
        <div class="msg">
            <% if (user.status === 1 || user.status === 2) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 2 PENDAFTARAN</h1>
            <% } else if (user.status === 3) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 3 PENDAFTARAN</h1>
            <% } else if (user.status === 4) { %>
                    <h1 style="color: #0db02b;">Pendaftaran Selesai. Silahkan persiapkan diri untuk lomba</h1>
            <% } %>
            <% if (user.pesan != '') { %>
                <h2><%- user.pesan %> </h2>
            <% } %>
        </div>
        <div class="upload">
            <% if (user.status === 1) { %>
                <form action="/users" method="post" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td><label for="suratRekomendasi">Upload surat Rekomendai sekolah :</label></td>
                            <td><input type="file" name="suratRekomendasi" id="suratRekomendasi" accept="image/*" required></td>
                        </tr>
                        <% if (user.lomba === 'nasyid') { %>
                            <tr>
                                <td><label for="fotoTim">Upload Foto Tim :</label></td>
                                <td><input type="file" name="fotoTim" id="fotoTim" accept="image/*" required></td>
                            </tr>
                        <% } %>
                        <% for( let i = 1; i <= user.jumlahAnggota + 1; i++ ) { %>
                            <tr>
                                <td><label for="kis<%- 1 %>">Upload KIS <%- i %> :</label></td>
                                <td><input type="file" name="kis<%- i %>" id="kis<%- i %>" accept="image/*" required></td>
                            </tr>
                            <tr>
                                <td><label for="postIg<%- i %>">Upload Bukti Post IG <%- i %>:</label></td>
                                <td><input type="file" name="postIg<%- i %>" id="postIg<%- i %>" accept="image/*" required></td>
                            </tr>
                            <tr>
                                <td><label for="fotoDiri<%- i %>">Upload Foto Diri <%- i %> :</label></td>
                                <td><input type="file" name="fotoDiri<%- i %>" id="fotoDiri<%- i %>" accept="image/*" required></td>
                            </tr>
                        <% } %>
                    </table>
                    
                    <button id="op-modal" type="button">Submit</button>
                    <button id="submit-tahap2" type="submit"></button>
                </form>
            <% } else if (user.status === 2) { %>
                <img id="logo-pending" src="/img/usersPage/attention.png" alt="attention" width="200px" height="200px" >
                <h1>Sedang di Check Panitia ARESTA17</h1>
            <% } else if (user.status === 3 || user.status === 4) { %>
                <img id="logo-selesaiTahap2" src="/img/usersPage/verified.png" alt="verified" width="200px" height="200px">
                <h1>Tahap 2 Pendaftaran Telah di Selesaikan</h1>
            <% } %>
            
        </div>
    </div>
    <div class="tahap3 tabcontent" id="tahap3">
        <div class="msg">
            <% if (user.status === 1 || user.status === 2) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 2 PENDAFTARAN</h1>
            <% } else if (user.status === 3) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 3 PENDAFTARAN</h1>
            <% } else if (user.status === 4) { %>
                    <h1 style="color: #0db02b;">Pendaftaran Selesai. Silahkan persiapkan diri untuk lomba</h1>
            <% } %>
            <% if (user.pesan != '') { %>
                <h2><%- user.pesan %> </h2>
            <% } %>
        </div>
        <div class="infaq">
            <% if (user.status === 1 || user.status === 2) { %>
                <img id="logo-pending" src="/img/usersPage/attention.png" alt="attention" width="200px" height="200px" >
                <h1>Selesaikan Tahap 2 Pendaftaran</h1>
            <% } else if (user.status === 3) { %>
                <h1>Pembayaran</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore aut corporis dolore, asperiores delectus deleniti quidem consequuntur aspernatur molestias voluptatum omnis fuga aliquid sapiente sint amet eaque id blanditiis cumque quas, doloribus odio quod. Odit, at blanditiis beatae earum consequuntur provident dignissimos, distinctio quisquam doloremque nihil, quis illo magni ipsum?</p>
                <div class="chat">
                    <a class="chatWA" href="https://api.whatsapp.com/send?phone=6281295278127&text=nama%20lengkap%20(ketua)%20%3A%0Alomba%20%3A%0Aasal%20sekolah%20%3A%0Anomor Hp%20%3A">
                        <img src="/img/usersPage/logoWa.png" alt="">
                        <div>chat</div>
                    </a>
                </div>
            <% } else if (user.status === 4) { %>
                <img id="logo-selesaiTahap2" src="/img/usersPage/verified.png" alt="verified" width="200px" height="200px">
                <h1>Tahap 3 Pendaftaran Telah di Selesaikan</h1>
            <% } %>
            
        </div>
    </div>
    <div class="status tabcontent" id="status">
        
        <div class="msg">
            <% if (user.status === 1 || user.status === 2) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 2 PENDAFTARAN</h1>
            <% } else if (user.status === 3) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 3 PENDAFTARAN</h1>
            <% } else if (user.status === 4) { %>
                    <h1 style="color: #0db02b;">Pendaftaran Selesai. Silahkan persiapkan diri untuk lomba</h1>
            <% } %>
            <% if (user.pesan != '') { %>
                <h2><%- user.pesan %> </h2>
            <% } %>
        </div>

        <div class="st-container">
            <div class="st-tahap1">
                <h2>tahap 1</h2>
                <hr>
                <img  src="/img/usersPage/verified.png" alt="" width="80px">
                <h3 style="color: #0db02b;">selesai</h3>
            </div>
            <% if (user.status === 1) { %>
                <div class="st-tahap2">
                    <h2>tahap 2</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">selesaikan !</h3>
                </div>
                <div class="st-tahap3">
                    <h2>tahap 3</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">selesaikan !</h3>
                </div>
                <div class="st-selesai">
                    <h2>status</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">selesaikan Tahap-2</h3>
                </div>
            <% } else if (user.status === 2) { %>
                <div class="st-tahap2">
                    <h2>tahap 2</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">pending</h3>
                </div>
                <div class="st-tahap3">
                    <h2>tahap 3</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">selesaikan !</h3>
                </div>
                <div class="st-selesai">
                    <h2>status</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">tahap 2 sedang di cek panitia</h3>
                </div>
            <% } else if (user.status === 3) { %>
                <div class="st-tahap2">
                    <h2>tahap 2</h2>
                    <hr>
                    <img  src="/img/usersPage/verified.png" alt="" width="80px">
                    <h3 style="color: #0db02b;">selesai</h3>
                </div>
                <div class="st-tahap3">
                    <h2>tahap 3</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">selesaikan !</h3>
                </div>
                <div class="st-selesai">
                    <h2>status</h2>
                    <hr>
                    <img  src="/img/usersPage/attention.png" alt="" width="80px">
                    <h3 style="color: #e8de12;">selesaikan Tahap-3</h3>
                </div>
            <% } else if (user.status === 4) { %>
                <div class="st-tahap2">
                    <h2>tahap2</h2>
                    <hr>
                    <img  src="/img/usersPage/verified.png" alt="" width="80px">
                    <h3 style="color: #0db02b;">selesai</h3>
                </div>
                <div class="st-tahap3">
                    <h2>tahap3</h2>
                    <hr>
                    <img  src="/img/usersPage/verified.png" alt="" width="80px">
                    <h3 style="color: #0db02b;">selesai</h3>
                </div>
                <div class="st-selesai">
                    <h2>status</h2>
                    <hr>
                    <img  src="/img/usersPage/verified.png" alt="" width="80px">
                    <h3 style="color: #0db02b;">selesai</h3>
                </div>
            <% } %>          
        </div>
        <div class="detail-tahap">
            <h2>Tahap 1  -  Formulir</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, aspernatur ducimus! Totam, vitae nulla explicabo voluptatum, beatae molestiae odio dicta, dolore nesciunt pariatur suscipit. Enim, nam iusto doloribus id natus a dolorum fugiat, necessitatibus aut aliquid nulla accusantium dignissimos sequi. Repudiandae magnam asperiores voluptatibus, distinctio sunt voluptatum repellendus nobis suscipit.</p>
        </div>
        <div class="detail-tahap">
            <h2>Tahap 2  -  Upload Foto</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, aspernatur ducimus! Totam, vitae nulla explicabo voluptatum, beatae molestiae odio dicta, dolore nesciunt pariatur suscipit. Enim, nam iusto doloribus id natus a dolorum fugiat, necessitatibus aut aliquid nulla accusantium dignissimos sequi. Repudiandae magnam asperiores voluptatibus, distinctio sunt voluptatum repellendus nobis suscipit.</p>
        </div>
        <div class="detail-tahap">
            <h2>Tahap 3  -  Pembayaran</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, aspernatur ducimus! Totam, vitae nulla explicabo voluptatum, beatae molestiae odio dicta, dolore nesciunt pariatur suscipit. Enim, nam iusto doloribus id natus a dolorum fugiat, necessitatibus aut aliquid nulla accusantium dignissimos sequi. Repudiandae magnam asperiores voluptatibus, distinctio sunt voluptatum repellendus nobis suscipit.</p>
        </div>

    </div>
    <div class="juknis tabcontent" id="juknis">
        <div class="msg">
            <% if (user.status === 1 || user.status === 2) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 2 PENDAFTARAN</h1>
            <% } else if (user.status === 3) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 3 PENDAFTARAN</h1>
            <% } else if (user.status === 4) { %>
                    <h1 style="color: #0db02b;">Pendaftaran Selesai. Silahkan persiapkan diri untuk lomba</h1>
            <% } %>
            <% if (user.pesan != '') { %>
                <h2><%- user.pesan %> </h2>
            <% } %>
        </div>

        <div class="pdf">
            <% if (user.lomba === 'nasyid') { %>
                <iframe src="https://drive.google.com/file/d/1_4PtkkY4uiXzD5Drgz0MhhOQDN8BOu-z/view?usp=sharing" frameborder="0" width="80%" height="500px"></iframe>        
            <% } else if (user.lomba === 'videoKreatif') { %>
                <iframe src="https://drive.google.com/file/d/1INvnItn1RwLcHqcJdZ1eTMAayiHQfQiq/view?usp=sharing" frameborder="0" width="80%" height="500px"></iframe>        
            <% } else if (user.lomba === 'ldbi') { %>
                <iframe src="https://drive.google.com/file/d/1U6kCOMkjMcWkaX6wLWN5iJ0MK45CcD6X/view?usp=sharing" frameborder="0" width="80%" height="500px"></iframe>        
            <% } else if (user.lomba === 'khitobah') { %>
                <iframe src="https://drive.google.com/file/d/1ohWDwl0WWS2fkuxrP3KPBbrFR3pCc0Ii/view?usp=sharing" frameborder="0" width="80%" height="500px"></iframe>        
            <% } else if (user.lomba === 'fotografi') { %>
                <iframe src="https://drive.google.com/file/d/12HC3x_wmgsmCWRLWh-MwdHO0HcxuiIuz/view?usp=sharing" frameborder="0" width="80%" height="500px"></iframe>        
            <% } else if (user.lomba === 'designPoster') { %>
                <iframe src="https://drive.google.com/file/d/1hdY1avcK0hNLguO_joyvoK7Nig3n-cPI/view?usp=sharing" frameborder="0" width="80%" height="500px"></iframe>        
            <% } else if (user.lomba === 'businessPlan') { %>
                <iframe src="https://drive.google.com/file/d/1yjYYsAUeGKoYWc8MpxaZVsee0m_i7b3s/view?usp=sharing" frameborder="0" width="80%" height="500px"></iframe>        
            <% } %>

            <img src="/img/usersPage/wrong.png" alt="blm ada e-sertifikat" width="200px" >
            <h1>Ketentuan Umum Lomba Belum Tersedia</h1>
        </div> 
    </div>
    <div class="sertifikat tabcontent" id="sertifikat">
        <div class="msg">
            <% if (user.status === 1 || user.status === 2) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 2 PENDAFTARAN</h1>
            <% } else if (user.status === 3) { %>
                    <h1>SEGERA SELESAIKAN TAHAP 3 PENDAFTARAN</h1>
            <% } else if (user.status === 4) { %>
                    <h1 style="color: #0db02b;">Pendaftaran Selesai. Silahkan persiapkan diri untuk lomba</h1>
            <% } %>
            <% if (user.pesan != '') { %>
                <h2><%- user.pesan %> </h2>
            <% } %>
        </div>

        <div class="pdf">
            <img src="/img/usersPage/wrong.png" alt="blm ada e-sertifikat" width="200px" >
            <h1>E-Sertifikat Belum Tersedia</h1>
        </div> 
    </div>
</body>
<script src="/js/users.js"></script>
<script src="/js/usersModal.js"></script>
<script>
    let cond = '<%= pesan %>'
    if (cond === 'isi') {
        alert('upload semua Gambar sekaligus')
    }
    if (cond === 'extensi') {
        alert('Extensi Anda Bukan png/jpg/jpeg')
    }
    if (cond === 'ukuran') {
        alert('ukuran gambar lebih dari 20Mb')
    }
    if (cond === 'gagal') {
        alert('gagal meng-upload silahkan kirim ulang')
    }


</script>

</html>